.matchUpTable{
  /* margin: auto; */
  margin-top: 5rem;
  margin-left: 7.5%;
  margin-right: 7.5%;
  /* align-items: center; */
  /* display: flex;
  justify-content: center; */
}

.matchTitle{
  font-size: 5rem;
  margin-top: 7rem;
  text-align: center;
}

.matchUpWinner{
  margin-left: 7.5%;
  margin-top: 1rem;
  font-size: 2rem;
}